.projects-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 1em;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projects-container h1 {
    color: #ba003b;
    font-size: 2.5rem;
}

.projects-container h1::selection {
    color: #ba003b;
    background-color: #e2e8f0;
}

@media (max-width: 430px) {
    .projects-container h1 {
        font-size: 2rem;
    }
}