.homepage-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.second-row {
    color: #e2e8f0;
    font-size: 5rem;
    font-weight: 700;
}

.third-row {
    color: #e2e8f0;
}

.first-row,
.third-row {
    font-size: 1.5rem;
    font-weight: 300;
}

.mark-words {
    color: #ba003b;
}

.icons {
    display: flex;
    color: #e2e8f0;
    margin-top: 1.5em;
}

a {
    text-decoration: none;
    color: #e2e8f0;
    font-size: 2rem;
    padding: 5px;
    margin-right: 0.5em;
}

a:hover {
    color: #ba003b;
}

@media (max-width: 1024px) {
    .second-row {
        font-size: 4rem;
    }
}

@media (max-width: 640px) {
    .second-row {
        font-size: 3rem;
    }

    .first-row,
    .third-row {
        font-size: 1.3rem;
    }
}

@media (max-width: 430px) {
    .second-row {
        font-size: 2rem;
    }

    a {
        font-size: 1.5rem;
    }
}