.homepage-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.second-row {
    font-size: 5rem;
    font-weight: 700;
}

.second-row,
.third-row {
    color: #e2e8f0;
}

.first-row,
.third-row {
    font-size: 1.5rem;
    font-weight: 300;
}

.mark-words {
    color: #ba003b;
}

.icons {
    display: flex;
    margin-top: 1.5em;
}

.homepage-container a {
    text-decoration: none;
    margin-right: 0.5em;
    color: #e2e8f0;
    font-size: 2rem;
}

.homepage-container a :nth-child(1):hover {
    color: #ba003b;
}

.homepage-container p::selection,
.mark-words::selection {
    color: #ba003b;
    background-color: #e2e8f0;
}

@media (max-width: 1024px) {
    .second-row {
        font-size: 4rem;
    }
}

@media (max-width: 640px) {
    .second-row {
        font-size: 3rem;
    }

    .first-row,
    .third-row {
        font-size: 1.3rem;
    }

    .homepage-container a {
        font-size: 1.5rem;
    }
}

@media (max-width: 430px) {
    .second-row {
        font-size: 2rem;
    }

    .first-row,
    .third-row {
        font-size: 1.2rem;
    }
}