.about-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    gap: 2.5em;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 300;
    color: #e2e8f0;
}

.about-container h1 {
    color: #ba003b;
    font-size: 2.5rem;
}

.about-container p,
.technologies {
    max-width: 700px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.technologies li {
    list-style: circle;
    margin-left: 1em;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}

.link:hover {
    color: #ba003b;
}

.about-container p::selection,
.about-container a::selection,
.about-container h1::selection,
.about-container li::selection {
    color: #ba003b;
    background-color: #e2e8f0;
}

@media (max-width: 430px) {
    .about-container {
        text-align: center;
    }

    .technologies {
        flex-direction: column;
        align-items: center;
        text-align: start;
    }

    .about-container h1 {
        font-size: 2rem;
    }
}