.card-container {
    max-width: 300px;
    min-width: 170px;
    background: #12181d;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: rgba(82, 82, 82, 0.35) 0px 5px 15px;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 1rem;
}

.card-description {
    font-size: 1rem;
    color: #e2e8f0;
    margin-bottom: 1rem;
}

.card-technologies {
    font-size: 1rem;
    color: #ba003b;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card-button {
    background-color: #ba003b;
    border: 1px solid #ba003b;
    padding: 0.5rem;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.card-button a {
    color: #e2e8f0;
    text-decoration: none;
    font-size: 1rem;
}

.card-button:hover {
    background-color: #dc0046;
}

@media (max-width: 640px) {
    .card-container:hover {
        transform: none;
        box-shadow: rgba(82, 82, 82, 0.35) 0px 5px 15px;
    }
}

@media (max-width: 350px) {
    .card-button a {
        font-size: 0.9rem;
    }
}