.card-container {
    max-width: 600px;
    background: #12181d;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.card-container h2,
.card-description {
    color: #e2e8f0;
}

.card-description {
    font-weight: 300;
    font-size: 1rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-technologies {
    font-size: 1rem;
    color: #ba003b;
    font-weight: 600;
}

.card-footer a {
    text-decoration: none;
    color: #ba003b;
    font-size: 1.3rem;
}

.card-container p::selection,
.card-container h2::selection {
    color: #ba003b;
    background-color: #e2e8f0;
}

@media (max-width: 430px) {
    .card-container h2 {
        font-size: 1.3rem;
    }
}